.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--full-width {
  width: 100%;
}

.button--xs-margin {
  margin: $xs-size;
}

.button--xs-margin-y {
  margin-top: $xs-size;
  margin-bottom: $xs-size;
}

.button--xs-margin-x {
  margin-left: $xs-size;
  margin-right: $xs-size;
}

.button--link {
  background: none;
}

.button--secondary {
  background: $secondary;
}
