// Colors
$dark-gray: #333;
$gray: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$light-gray: #dbdbdb;
$light-gray-1: #cacccd;
$primary: #888;
$secondary: #888;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
